/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

/*去掉原样式中的小黑点*/
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

/*输入字居中显示*/
select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/**/
textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle; /*  去掉图片底部默认的3像素空白缝隙*/
}

table {
    border-collapse: collapse; /*合并外连线*/
}

body {
    overflow-x: hidden;
    font: 14px/150% Arial, Verdana, "\5b8b\4f53"; /*unitedCode的写法，宋体的写法*/
    color: #666; /*150%基于当前字体尺寸的百分比行间距*/
    /*background: #F2CB2F;*/
}
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

.clearfix:before, .clearfix:after {
    /*清除浮动，最好最标准的写法*/
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/  /*兼容IE6下的写法*/
}

a {
    /*color: #fff;*/
    text-decoration: none;
    background-color:transparent
}

a:link,
a:visited,
a:hover {
    /*color: #F2CB2F;*/
    outline:0;
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
    display:inline
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #333 !important;/*页面主色调*/
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

/*#n_footer .n_right dt, #footNav, #nav, #banner .b_intro, .hotPro .mask .title, .double .title, .application li a, .aside > .title, .two_level .lanTitle, .detailTop .intro .title, .public_list .intro .title, .newDetop .title, .solution .justify .lanTitle, .mainContact .comName, .mainContact .title*/
.nav{
    font-family: UNIVERSLTSTD-BOLDCN, Arial, 'Microsoft YaHei', SimSun, Sans-serif;
}
/*css初始化完成*/